{% extends 'base.html' %}

{% block content %}
  <h1>만나서 반가워요</h1>
  <a href="{% url 'greeting' %}">greeting</a>
  <a href="{% url 'dinner' %}">dinner</a>
  <a href="{% url 'throw' %}">throw</a>
{% endblock  %}

{% comment %} 'base.html'여기에는 부모 템플릿의 경로 templates 하위에 있는거 옮기기 {% endcomment %}
{% comment %} ---------------------------------------- {% endcomment %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>만나서 반가워요</h1>
  <a href="/greeting/">greeting</a>
  <a href="/dinner/">dinner</a>
</body>
</html> {% endcomment %}

{% comment %} 상속을 빋는 코드 {% endcomment %}

